/**
 * Author: Alexander Zhu
 * Date Created: March 14, 2018
 * Description: Main stylesheet for Donut Tycoon.
 */

html {
	overflow-y: scroll;
}

body {
	background: url(../img/background1.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	height: 100%;
}

#header {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	user-select: none;
}

#mainContainer {
	max-width: 1500px;
	text-align: center;
	display: inline;
}

#donutShopTab {
	max-height: 800px;
}

#upgradesTab {
	max-height: 800px;
}

.upgradeColumn {
	margin-left: 0px;
	margin-right: 0px;
	font-size: 18px;
	font-weight: bold;
	overflow: auto;
	flex: 25%;
	min-height: 800px;
}

#ingredientsColumn {
	background-color: lightpink;
}

#recipesColumn {
	background-color: lightgreen;
}

#upgradesColumn {
	background-color: lightyellow;
}

#infoColumn {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	background-color: lightblue;
	overflow: auto;
	flex: 60%;
	min-height: 800px;
}

#infoFeed {
	margin-left: auto;
	margin-right: auto;
	background-color: lightgrey;
	display: none;
	overflow: auto;
	flex: 20%;
	min-height: 800px;
}

#feedHeader {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}

#feedContent {
	text-align: left;
	font-size: 16px;
	overflow: auto;
}

.row {
	display: flex;
}

#tablePane {
	display: inline-block;
	overflow-y: auto;
	height: 500px;
	min-width: 95%;
}

#donutSelection {
	text-align: left;
	white-space: nowrap;
	margin: 0 auto;
	min-width: 90%;
}

#lowerInfo {
	text-align: center;
	white-space: nowrap;
	margin: 0 auto;
}

.numInput {
	border: none;
	border-width: 0px;
}

#startButton {
	margin: 20px auto 0px auto;
}

#version {
	clear: both;
	font-size: 12px;
	text-align: center;
}


/* -- Buttons -- */

.button h3 {
	text-align: center;
	margin: 0px;
}

.buttonLit h3 {
	text-align: center;
	margin: 0px;
}

.button, .buttonLit {
	border: 1px solid black;
	border-radius: 5px;
	cursor: pointer;
	width: 15%;
	-webkit-user-select: none;
	-moz-user-select: none;
}

.button {
	background-color: #AAAAAA;
}

.buttonLit {
	background-color: #D4DAFC;
}

.buttonLit:hover {
	background-color: #ADBAFF;
}

.spacer {
	width: 1%;
}

.totalCost {
	color: 'green';
}

.boxed {
	border: 1px solid #ccc;
}

/** Tabs */
.tab {
	overflow: hidden;
	background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
}