/**
 * Author: Alexander Zhu
 * Date Created: May 3, 2018
 * Description: Main stylesheet for Donut Tycoon.
 */

html {
	overflow-y: scroll;
}

body {
	background: url(../img/background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	height: 100%;
	width: 100%;
}

/** Eliminiate colors for links. */
a, a:visited, a:hover, a:active {
	text-decoration: none;
  	color: inherit;
}

#header {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	user-select: none;
}

#mainContainer {
	margin-left: 0%;
	margin-right: 0%;
}

.row {
	display: flex;
}

.column {
	margin-left: 0px;
	margin-right: 0px;
	font-size: 16px;
	font-weight: bold;
	overflow: auto;
	min-height: 700px;
}

/** Begin Donut Shop Tab. */

#infoColumn {
	text-align: center;
	height: 800px;
	background-color: #add8e6;
	flex: 75%;
}

#infoFeed, #advisorColumn {
	padding: 0px 10px 0px 10px;
	text-align: center;
	height: 800px;
	background-color: #d3d3d3;
	flex: 25%;
}

#feedContent, #advisorContent {
	text-align: left;
	font-weight: normal;
}

#advisorContent {
	width: 100%;
}

#advisorTableRow {
	height: 25px;
}

#tablePane {
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	overflow-y: auto;
	max-height: 500px;
	background-color: #f5deb3;
	padding-left: 10px;
	padding-right: 10px;
}

#donutSelection, #donutSelling {
	text-align: left;
	white-space: nowrap;
	margin: 0 auto;
	min-width: 90%;
	padding: 10px;
}

#lowerInfo {
	text-align: center;
	white-space: nowrap;
	margin: 0 auto;
}

.numInput {
	border: none;
	border-width: 0px;
}

#startButton {
	margin: 20px auto 0px auto;
}

/** End Donut Shop Tab */
/** Begin Upgrade Tab */

#ingredientsColumn {
	background-color: #e0eee0;
	text-align: center;
	flex: 33%;
}

#unownedIngredients {
	margin-left: 5%;
	margin-right: 5%;
	min-width: 90%;
	text-align: center;
}

#ownedIngredients {
	margin-left: 20%;
	margin-right: 20%;
	min-width: 60%;
	text-align: center;
}

#recipesColumn {
	background-color: #f0f8ff;
	text-align: center;
	flex: 33%;
}

#inProgressRecipes {
	margin-left: 5%;
	margin-right: 5%;
	min-width: 90%;
	text-align: left;
}

#completedRecipes {
	margin-left: 20%;
	margin-right: 20%;
	min-width: 60%;
	text-align: center;
}

.ingredientList {
	padding-left: 20px;
	font-size: 14px;
}

#upgradesColumn {
	background-color: #fff0f5;
	text-align: center;
	flex: 33%;
}

#upgrades, #upgradeButtonTable {
	margin-left: 5%;
	margin-right: 5%;
	min-width: 90%;
	text-align: center;
}

#upgradeButtonTable {
	border-collapse: collapse;
}

/** End Upgrade Tab */
/** Begin Statistics Tab */

#statisticsColumn {
	background-color: #fff0f5;
	text-align: center;
	flex: 50%;
}

#statisticsContent {
	margin-left: 5%;
	margin-right: 5%;
	min-width: 90%;
	text-align: left;
}

#leaderboardColumn {
	background-color: #f0f8ff;
	text-align: center;
	flex: 50%;
}

#leaderboardContent {
	margin-left: 5%;
	margin-right: 5%;
	min-width: 90%;
	text-align: left;
	border-collapse: collapse;
}

#leaderboardContent td, #leaderboardContent th {
	border: 1px solid #ddd;
	padding: 8px;
}

#leaderboardContent tr:nth-child(even) {
	background-color: #f2f2f2;
}

#leaderboardContent tr:hover {
	background-color: #ddd;
}

#leaderboardContent th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

/** End Statistics Tab */
/** Begin Achievements Tab */

/** End Achievements Tab */
/** Begin Settings Tab */

/** End Settings Tab */

#version {
	clear: both;
	font-size: 12px;
	text-align: center;
}


/* -- Buttons -- */

.button h3 {
	text-align: center;
	margin: 0px;
}

.buttonLit h3 {
	text-align: center;
	margin: 0px;
}

.button, .buttonLit {
	border: 1px solid black;
	border-radius: 5px;
	padding: 2px 10px 2px 10px;
	cursor: pointer;
	display: inline-block;
	-webkit-user-select: none;
	-moz-user-select: none;
}

.button {
	background-color: #AAAAAA;
	pointer-events: none;
}

.buttonLit {
	background-color: #D4DAFC;
}

.buttonLit:hover {
	background-color: #ADBAFF;
}

.upgradeButton {
	width: 90%;
	text-align: center;
}

.spacer {
	width: 1%;
}

.boxed {
	border: 1px solid #ccc;
}

.underlined {
	text-decoration: underline;
}

.leftAligned {
	text-align: left;
}

.rightAligned {
	text-align: right;
}

.ownedIngredient {
	color: green;
}

.unownedIngredient {
	color: red;
}

/** Tabs */
.tab {
	margin-left: 10%;
	margin-right: 10%;
	overflow: hidden;
	background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    margin-left: 10%;
	margin-right: 10%;
	max-height: 850px;
	display: none;
}