<!doctype html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="css/styles.css">
		<meta charset="utf-8">
		<meta name="description" content="Donut Tycoon">
		<meta name="author" content="Alexander Zhu">

		<title>Donut Tycoon</title>
	</head>

	<body>
		<div>Instructions</div>
		<div><a href="https://github.com/azhu7/DonutTycoon"></a></div>
		<h1 id="header">Donut Tycoon</h1>

		<div id="mainContainer">
			<div id="infoContainer">
				<div id="night">
					<!-- Will fill this with a nightInfoTemplate -->
				</div>
				<p>Select donuts to make for tomorrow!</p>
				<table id="donutSelection">
					<tbody>
						<!-- Will fill this dynamically -->
					</tbody>
				</table>
				<p id="totalCost">Total cost: $0</p>
				<div class="buttonLit" id="startDayButton"><h3 id="startDayButtonText">Start Day</h3></div>
			</div>
		</div>

		<script type="text/template" id="nightInfoTemplate">
			<div id="nightInfo">
				<p>Day <%= day %></p>
				<p>You have $<%= money %></p>
			</div>
		</script>

		<script type="text/template" id="donutInfoTemplate">
			<tr>
				<td><%= img %></td>
				<td class="spacer"></td>
				<td><%= name %></td>
				<td class="spacer"></td>
				<td>Cost to make: $<%= cost %></td>
				<td class="spacer"></td>
				<td>Quantity: <input class="numInput" onchange="refreshTotalCost()" type="number" min="0" max="9999" value="0" id=<%= quantityId %>></td>
				<td class="spacer"></td>
				<td>Sell for: $<input class="numInput" type="number" min="1" max="999999" value=<%= cost %> id=<%= sellForId %>></td>
			</tr>
		</script>

		<script src="lib/underscore-min.js"></script>
		<script src="lib/jquery.min.js"></script>

		<script src="js/donut.js"></script>
		<script src="js/data.js"></script>
		<script src="js/script.js"></script>
		<script src="js/storage.js"></script>
	</body>
</html>